
.friendList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  padding-top: 40px;
}

.item {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.avatar {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.name {
  margin: 0;
}

.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: green;
}

.item .offline {
  
  background-color: red;
}