.statistics {
  width: 220px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: aliceblue;
}

.statList {
  display: flex;
  padding: auto;
  margin: auto;
}

.listItem {
  flex-grow: 1;
  display: flex;
  gap: 5px;
  padding: auto;
  margin: auto;
  flex-direction: column;
  color: white;
}
