@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 
}
div, ul {
  margin: 0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.friend-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  padding-top: 40px;
  
}

.item {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: green;
}

.avatar {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.name {
  margin: 0;
}